*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
        font-family:'Fredoka', sans-serif; ;
}

.container{
    max-width: 65rem;
    margin: auto;
    background-color: white;
}

h1{
    text-align: center;
    color: #E53170;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 800;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
    font-size: 0.9rem;
} 

/*parte centrale dell'esercizio*/

main{
    padding-top: 3rem;
}

.clearfix{
    width: calc(100% / 3 - 22px);
    background-color: black;
    color: white;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}

img{
    width: 90px;
    float: left;
} 

h3{
    float: left;
    padding-left: 15px;
    margin-top: 10px;
}

span{
    display: block;
    float: left;
    padding-left: 15px;
    margin-top: 10px;
}

a{
    text-decoration: none;
    float: left;
    padding-left: 15px;
    color: #50B9DE;
    margin-top: 5px;
}